

body{
    background-image: url("../images/background.jpg");
    /* background-size: cover; */
    background-repeat: no-repeat;
    font-family: 'Arial', sans-serif;
}

.jumbotron {
    margin-top: 15px;
}

.panel-heading {
    margin: 0 -15px;
    font-size: 18px;
}

.row {
    margin: 15px 0;
}

.stats {
    font-weight: bold;
    font-size: 30px;
}

.stats-num{
    font-weight: normal;
}

.crystal-img {
    width: 50%;
    max-height: 204px;
}


/* footer */
.navbar-footer {
    position: fixed;
    bottom: 0;
    left: 0;
    border-top: 5px solid #4aaaa5;
    background-color: #777777;
}

.footer-container p, a {
    color: #ffffff;
    padding-top: 8px;
    text-decoration: none;
}

.footer-container a {
    font-size: 16px;
}

.footer-container p a:hover{
    color: #4aaaa5;
    text-decoration: none;
}