@import "https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700";
body {
    font-family: 'Poppins', sans-serif;
    background: #fafafa;
}


/* sidebar */

.wrapper {
    display: flex;
    align-items: stretch;
    background-color: #000000;
    background-image: url("../images/background.jpg");
}

p {
    font-family: 'Poppins', sans-serif;
    font-size: 1.1em;
    font-weight: 300;
    line-height: 1.7em;
    color: #999;
}

#sidebar {
    min-width: 250px;
    max-width: 250px;
    min-height: 100vh;
    background: #4aaaa5;
    color: #fff;
    transition: all 0.3s;
}

.fa {
    font-size: 22px;
}

#sidebar.active {
    margin-left: -250px;
}

a[data-toggle="collapse"] {
    position: relative;
}

a[aria-expanded="false"]::before,
a[aria-expanded="true"]::before {
    content: '\e259';
    display: block;
    position: absolute;
    right: 20px;
    font-family: 'Glyphicons Halflings';
    font-size: 0.6em;
}

a[aria-expanded="true"]::before {
    content: '\e260';
}

a,
a:hover,
a:focus {
    color: inherit;
    text-decoration: none;
    transition: all 0.3s;
}

#sidebar .sidebar-header {
    padding: 20px;
    background: #4b9a96;
}

#sidebar ul.components {
    padding: 20px 0;
    border-bottom: 1px solid #6daba8;
}

#sidebar ul p {
    color: #fff;
    padding: 10px;
}

#sidebar ul li a {
    padding: 10px;
    font-size: 1.1em;
    display: block;
}

#sidebar ul li a:hover {
    color: #6daba8;
    background: #fff;
}

ul ul a {
    font-size: 0.9em !important;
    padding-left: 30px !important;
    background: #6daba8;
}


/* main body */

#content {
    width: calc(100% - 250px);
    padding: 40px 5px;
    margin: 0 auto;
    min-height: 100vh;
    transition: all 0.5s;
    max-width: 1150px;
}

.row {
    margin: 0;
}

.navbar-default {
    position: relative;
}

.navbar-btn {
    position: absolute;
    top: 7px;
    left: -1%;
    z-index: 1;
}

.header-title {
    margin: auto;
    font-size: 36px;
    font-weight: 600;
}

#volumebtn {
    position: absolute;
    top: 7px;
    left: 85%;
    z-index: 1;
}

.panel-default {
    position: relative;
    margin: 25px auto;
    width: 100%;
    height: 100%;
}

.panel-body {
    height: 100%;
}

.img-placeholder {
    margin: 10px auto;
    display: block;
}

.hangman-img {
    display: block;
    margin: 10px auto;
    max-width: 125px;
}

.logo {
    margin: 10px auto 30px auto;
    display: block;
    /* background-color: #ffffff; */
    width: 50%;
    min-width: 75px;
    max-width: 150px;
}

.hangman-section {
    background-color: #ccc;
    border-radius: 10px;
    height: 100%;
}

#challengeWord {
    background-color: #333;
    color: #ffffff;
    text-align: center;
    font-size: 30px;
    padding-bottom: 15px;
    margin-bottom: 25px;
    border-radius: 5px;
}

.userStats {
    float: left;
    max-width: 40%;
    min-width: 200px;
    margin-right: 10px;
}

.lucky {
    float: left;
    max-width: 50%;
    min-width: 200px;
    margin-right: 10px;
    float: right;
}

#fullGuess {
    margin-bottom: 5px;
    float: right;
    width: 100%;
}

.col-md-6 {
    padding: 10px 0;
}

.enterGuess {
    width: 80%;
}

.btn {
    margin: 0 2px;
}


/* MODAL */


/* The Modal (background) */

.modal {
    display: none;
    /* Hidden by default */
    position: fixed;
    /* Stay in place */
    z-index: 1;
    /* Sit on top */
    left: 0;
    top: 0;
    width: 100%;
    /* Full width */
    height: 100%;
    /* Full height */
    overflow: auto;
    /* Enable scroll if needed */
    background-color: rgb(0, 0, 0);
    /* Fallback color */
    background-color: rgba(0, 0, 0, 0.4);
    /* Black w/ opacity */
}


/* Modal Content/Box */

.modal-content {
    background-color: #fefefe;
    margin: 15% auto;
    /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    /* Could be more or less, depending on screen size */
}


/* The Close Button Modal*/

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}


/* footer */

.navbar-footer {
    position: fixed;
    bottom: 0;
    left: 0;
    border-top: 5px solid #4aaaa5;
    background-color: #777777;
}

.footer-container p {
    color: #ffffff;
    padding-top: 8px;
}

.footer-container p a:hover {
    color: #4aaaa5;
}

@media screen and (max-width: 600px) {
    #content {
        width: 95%;
        margin: 0 15px;
        min-width: 330px;
    }

    .navbar-btn {
        position: static;
    }

    #volumebtn {
        position: static;
    }

    .navbar-header {
        text-align: center;
    }
    .hangman-img {
        max-width: 90px;
    }
}